* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --negative-number: -70px;
  --positive-large-number: 70px;
  --positive-small-number: 35px
}
html, body {
  height: 100%;
  margin: 0;
}
body {
    min-height: 100dvh;
    background: url('../img/fireplace-wall.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.glass-panel {
  width: max-content;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.item {
  cursor: pointer;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(150,255,230,0.12);
  transition: opacity 0.3s;
}
.item:hover {
  opacity: 0.8;
}
.item.active {
  filter: drop-shadow(0 0 5px rgba(0, 255, 170, 0.5));
}
.digital-clock-img {
  width: 65px;
  height: 25px;
}
.analog-clock-img {
  width: 60px;
  height: 50px;
}
.calendar-img {
  width: 60px;
  height: 40px;
}
main {
  height: 100dvh;
  overflow: hidden;
}
/* digital clock */
.digital-clock {
  min-width: 100%;
  padding-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.digit {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  grid-template-rows: repeat(5, 25px);
  gap: 10px;
  grid-template-areas:
    "div1 div2 div3"
    "div4 div5 div6"
    "div7 div8 div9"
    "div10 div11 div12"
    "div13 div14 div15";
}
.sep {
  display: grid;
  grid-template-columns: repeat(1, 25px);
  grid-template-rows: repeat(2, 25px);
  gap: 10px;
  div {
    background-color: rgb(243, 243, 243);
    box-shadow: 0 0 30px #00ffcc55;
    border-radius: 5px;
  }
}
[data-id] {
  background-color: rgb(243, 243, 243);
  box-shadow: 0 0 30px #00ffcc55;
  border-radius: 5px;
  transition: 250ms ease;
}
[data-id="div1"] {
  grid-area: div1;
}
[data-id="div2"] {
  grid-area: div2;
}
[data-id="div3"] {
  grid-area: div3;
}
[data-id="div4"] {
  grid-area: div4;
}
[data-id="div5"] {
  grid-area: div5;
  display: none;
}
[data-id="div6"] {
  grid-area: div6;
}
[data-id="div7"] {
  grid-area: div7;
}
[data-id="div8"] {
  grid-area: div8;
}
[data-id="div9"] {
  grid-area: div9;
}
[data-id="div10"] {
  grid-area: div10;
}
[data-id="div11"] {
  grid-area: div11;
  display: none;
}
[data-id="div12"] {
  grid-area: div12;
}
[data-id="div13"] {
  grid-area: div13;
}
[data-id="div14"] {
  grid-area: div14;
}
[data-id="div15"] {
  grid-area: div15;
}
.onSite {
  transform: translateX(0);
}
.oneStep {
  transform: translateX(var(--positive-small-number));
}
.twoSteps {
  transform: translateX(var(--positive-large-number));
}
.twoStepsPress {
  transform: translateX(var(--negative-number));
}
.error-page {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: crimson;
    font-size: 40px;
    text-align: center;
  }
  p {
    color: aliceblue;
    font-size: 18px;
    text-align: center;
  }
}
/* analog clock */
.analog-clock {
  font-family: "Saira", sans-serif;
  width: clamp(200px, 50vw, 400px);
  height: clamp(200px, 50vw, 400px);
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 2px solid #00ffcc;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.analog-clock::before {
  content: "";
  width: clamp(10px, 2.5vw, 20px);
  height: clamp(10px, 2.5vw, 20px);
  background: #00ffcc;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}
.numbers {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(90deg);
}
.number {
  width: 100%;
  height: 100%;
  color: aliceblue;
  position: absolute;
  display: flex;
  align-items: center;
  transform: rotate(calc(var(--i) * 30deg));
  padding: clamp(20px, 5vw, 30px);
  font-weight: 600;
  font-size: clamp(16px, 3.5vw, 25px);
}
.number span {
  transform: rotate(calc(var(--i) * -30deg - 90deg));
}
.dot {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transform: rotate(calc(var(--x) * 6deg));
  padding: 5px;
}
.dot::before {
  content: "";
  width: clamp(3px, .8vw, 5px);
  height: 2px;
  background: #00ffcc;
}
.dot.big::before {
  width: clamp(8px, 2vw, 15px);
  background: rgba(255, 255, 255, 0.9);
}
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  border-radius: 10px;
  transform: translateX(-50%) rotate(0deg);
}
.second {
  z-index: 3;
  height: 38%;
  width: 3px;
  background: #00ffcc;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}
.minute {
  z-index: 2;
  height: 33%;
  width: 4px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}
.hour {
  z-index: 1;
  height: 27%;
  width: 5px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}
/* calendar */
.calendar {
  font-family: "Saira", sans-serif;
  width: max-content;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  gap: 25px;
  border-radius: 1rem;
  border: 1px solid color-mix(in oklab, #00e5cc 20%, transparent);;
  background: rgba(12, 12, 12, 0.55);
  backdrop-filter: blur(16px);
  box-shadow:
          rgba(0, 229, 204, 0.08) 0px 0px 30px,
          rgba(0, 229, 204, 0.03) 0px 0px 30px inset,
          rgba(0, 229, 204, 0.3) 0px 0px 1px;
}
.calendar-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent, #00f3ff, transparent) 1;
}
#monthYear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  p {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: #00e5cc;
  }
  span {
    color: color-mix(in oklab, #00e5cc 50%, transparent);
  }
}
#prev, #next {
  width: calc(.25rem * 9);
  height: calc(.25rem * 9);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00e5cc;
  border-radius: .75rem;
  background: #0000;
  cursor: pointer;
  img {
    width: 60%;
    height: 60%;
  }
}
#next:hover, #prev:hover {
  background: color-mix(in oklab, #00e5cc 10%, transparent);
  filter: drop-shadow(rgba(0, 229, 204, 0.3) 0px 0px 4px);
}
.weekdays {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-bottom: 15px;
  color: color-mix(in oklab, #00e5cc 40%, transparent);
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent, #00f3ff, transparent) 1;
  div {
    padding: 3px 8px;
  }
}
.days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 13px;
  div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .75rem;
    p {
      color: silver;
    }
  }
  div.active {
    border: 1px solid #00e5cc;
    box-shadow: rgba(0, 229, 204, 0.4) 0px 0px 12px, rgba(0, 229, 204, 0.15) 0px 0px 24px, rgba(0, 229, 204, 0.1) 0px 0px 8px inset;
    text-shadow: rgba(0, 229, 204, 0.6) 0px 0px 8px;
  }
  div:hover:not(.active) {
    color: #00e5cc;
    background-color: color-mix(in oklab, #00e5cc 5%, transparent);
    border: 1px solid color-mix(in oklab, #00e5cc 30%, transparent);
  }
}
.calendar-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #00f3ff, transparent) 1;
  div {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 5px 10px;
    p {
      color: color-mix(in oklab, #00e5cc 40%, transparent);
    }
    span {
      color: silver;
    }
  }
  div:nth-child(1), div:nth-child(2) {
    border-right: 1px solid color-mix(in oklab, #00e5cc 30%, transparent);
  }
}
@media (max-width: 900px) {
  :root {
    --negative-number: -46px;
    --positive-large-number: 46px;
    --positive-small-number: 21px
  }
  .glass-panel {
    padding: 15px;
  }
  .digital-clock-img {
    width: 50px;
    height: 25px;
  }
  .analog-clock-img {
    width: 55px;
    height: 40px;
  }
  .calendar-img {
    width: 60px;
    height: 30px;
  }
  .digit {
    grid-template-columns: repeat(3, 15px);
    grid-template-rows: repeat(5, 15px);
    gap: 8px;
  }
  .sep {
    grid-template-columns: repeat(1, 15px);
    grid-template-rows: repeat(2, 15px);
    gap: 8px;
    div {
      border-radius: 3px;
    }
  }
  [data-id] {
    border-radius: 3px;
  }
  .weekdays div {
    padding: 0;
  }
  .days div {
      width: 40px;
      height: 40px;
  }
  #prev, #next {
    width: calc(.25rem * 8);
    height: calc(.25rem * 8);
  }
  #monthYear p {
    font-size: 1.2rem;
  }
  .calendar-info div p,
  .calendar-info div span {
    font-size: 14px;
  }
}
@media (max-width: 680px) {
  :root {
    --negative-number: -30px;
    --positive-large-number: 30px;
    --positive-small-number: 15px
  }
  .glass-panel {
    top: unset;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 12px;
  }
  .menu {
    flex-direction: row;
    align-items: center;
  }
  .item {
    padding-bottom: 0;
    border-bottom: none;
  }
  .digital-clock {
    gap: 20px;
  }
  .digit {
    grid-template-columns: repeat(3, 10px);
    grid-template-rows: repeat(5, 10px);
    gap: 5px;
  }
  .sep {
    grid-template-columns: repeat(1, 10px);
    grid-template-rows: repeat(2, 10px);
    gap: 5px;
    div {
      border-radius: 2px;
    }
  }
  [data-id] {
    border-radius: 2px;
  }
}
@media (max-width: 505px) {
  :root {
    --negative-number: -22px;
    --positive-large-number: 22px;
    --positive-small-number: 11px
  }
  .digital-clock {
    gap: 10px;
  }
  .digit {
    grid-template-columns: repeat(3, 8px);
    grid-template-rows: repeat(5, 8px);
    gap: 3px;
  }
  .sep {
    grid-template-columns: repeat(1, 8px);
    grid-template-rows: repeat(2, 8px);
    gap: 3px;
    div {
      border-radius: 1px;
    }
  }
  [data-id] {
    border-radius: 1px;
  }
  .calendar {
    gap: 20px;
    padding: 25px 20px;
  }
  #prev, #next {
    width: calc(.25rem * 7.5);
    height: calc(.25rem * 7.5);
    border-radius: .6rem;
  }
  .weekdays {
    gap: 18px;
  }
  .days {
    gap: 8px;
  }
  .days div {
    width: 38px;
    height: 38px;
  }
  .calendar-info div p,
  .calendar-info div span {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  .calendar {
    gap: 20px;
    padding: 25px 15px;
  }
  #prev, #next {
    width: calc(.25rem * 7);
    height: calc(.25rem * 7);
    border-radius: .6rem;
  }
  .weekdays {
    gap: 15px;
  }
  .days {
    gap: 6px;
  }
  .days div {
    width: 35px;
    height: 35px;
  }
  .calendar-info div p,
  .calendar-info div span {
    font-size: 9px;
  }
}